<%- include('templates/header') %>

<h1>Admin Page</h1>

<ul class="list-group">

    <% users.forEach(user => { %>
        <%- include('templates/user', { user: user }) %>
    <% }) %>

</ul>

<%- include('templates/footer') %>